In [57]:
from skrub.datasets import make_deduplication_data
import pandas as pd
from skrub import deduplicate

In [58]:
## read sample data
sample_data = pd.read_csv("../data/duplicated_country_5.csv")
len(sample_data)

2100

In [59]:
sample_data.groupby("name").size().reset_index(name="count").sort_values(
    by="count", ascending=False
)

                        name  count
47                   germany   1441
14                     Egypt    474
19  United States of America     96
25                   bermany      4
73                     mgypt      3
..                       ...    ...
27                   cetmany      1
26                   cermany      1
24                   aermany      1
23  Uoioed States of America      1
81                   zermpny      1

[82 rows x 2 columns]

In [60]:
deduplicated_data = deduplicate(sample_data["name"])

In [61]:
deduplicated_data_df = pd.DataFrame(
    deduplicated_data, columns=["name_suggested"]
).reset_index(names="name_original")

In [62]:
deduplicated_data_df["same_name"] = (
    deduplicated_data_df["name_original"] == deduplicated_data_df["name_suggested"]
)

In [ ]:
## the three clusters
deduplicated_data_df["name_suggested"].unique()

array(['Egypt', 'germany', 'United States of America'], dtype=object)

In [63]:
deduplicated_data_df.sort_values(by=["same_name", "name_suggested"]).reset_index(
    drop=True
).to_csv(
    "../data/duplicated_country_5_output.csv",
    index=False,
)